/* Import icons */
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* Import variables */
@import url(css/Variables.css);

/* Animations */
@keyframes JumpIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes JumpOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html,
body {
  display: flex;
  place-items: center;
  place-content: center;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-background);

  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Copyrights */

.Copyrights {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  animation: FadeIn 0.25s ease-in;
}

.Copyrights p {
  text-align: center;
  margin: 0.5rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-text2);
  transition: 0.25s;
}

.Copyrights p:hover {
  color: var(--color-text);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: underline;
  transition: 0.25s;
}

a:hover {
  color: var(--color-primary-hover);
}

@media screen and (max-width: 768px) {
  .Copyrights p {
    font-size: 0.5rem;
    margin: 0.25rem 0.25rem;
  }
}

/* 404 - Not Found Page */

.NotFound_Page {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 5rem;

  background-color: var(--color-page);
  box-shadow: 0 0 1rem var(--color-page-shadow);
  border: 1px solid var(--color-page-border);
  border-radius: 1rem;
  padding: 2rem;
  min-width: 27rem;
  transition: 0.25s;
  margin: 1rem;

  animation: JumpIn 0.5s ease-in;
}

.NotFound_Page .NotFound_Text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.25s;
}

.NotFound_Page .NotFound_Text h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
  transition: 0.25s;
  animation: JumpIn 0.75s ease-in;
}

.NotFound_Page .NotFound_Text p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  transition: 0.25s;
}

.NotFound_Page .NotFound_Bottom {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  transition: 0.25s;
}

.NotFound_Page .NotFound_Bottom span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-text2);
  transition: 0.25s;
}

.NotFound_Page .NotFound_Image {
  z-index: 0;
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: auto;
  max-width: 15rem;
  margin-bottom: 2rem;
  transition: 0.25s;
  animation: BigCat 0.5s linear;
  animation-delay: 30s;
}

.NotFound_Page .NotFound_Bottom .NotFound_Return {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.25s;
}

.NotFound_Page .NotFound_Bottom .NotFound_Return:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  transform: scale(1.05);
}

@keyframes BigCat {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .NotFound_Page {
    padding: 1rem;
    gap: 2rem;
    min-width: 20rem;
  }

  .NotFound_Page .NotFound_Image {
    width: 100%;
    max-width: 9rem;
  }

  .NotFound_Page .NotFound_Text h1 {
    font-size: 1.5rem;
  }

  .NotFound_Page .NotFound_Text p {
    font-size: 0.8rem;
  }

  .NotFound_Page .NotFound_Bottom span {
    font-size: 0.7rem;
  }

  .NotFound_Page .NotFound_Bottom .NotFound_Return {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  .NotFound_Page {
    padding: 1rem;
    min-height: 40vh;
    min-width: 80%;
    background: url("./assets/notfound.gif") no-repeat center bottom;
    background-size: cover;
  }

  .NotFound_Page .NotFound_Image {
    display: none;
  }

  .NotFound_Page .NotFound_Text {
    padding: 0.5rem;
    background: var(--color-page);
    border-radius: 0.5rem;
    border: 1px solid var(--color-page-border);
    text-align: center;
  }

  .NotFound_Page .NotFound_Bottom span {
    display: none;
  }

  .NotFound_Page .NotFound_Bottom {
    align-items: center;
    margin: 0 1rem;
  }

  .NotFound_Page .NotFound_Bottom .NotFound_Return {
    box-sizing: border-box;
    font-size: 0.8rem;
    width: 100%;
    background: var(--color-primary-hover);
    color: var(--color-text);
  }
}

/* Profile_Page */

.Profile_Page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 70rem;
  background-color: var(--color-page);
  box-shadow: 0 0 1rem var(--color-page-shadow);
  border: 1px solid var(--color-page-border);
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;

  transition: 0.25s;
  animation: JumpIn 0.5s ease-in;
}

.Profile_Page .Profile_Header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.25s;
}

.Profile_Page .Profile_User {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  transition: 0.25s;
}

.Profile_Page .Profile_User img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s;
}

.Profile_Page .Profile_User img:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 0.5rem var(--color-primary);
}

.Profile_Page .Profile_User .Profile_Name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 0.25rem;
  transition: 0.25s;
}

.Profile_Page .Profile_User .Profile_Name h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  background: var(--color-background);
  color: var(--color-primary-background);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: 0.25s;
}

.Profile_Page .Profile_User .Profile_Name h1:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0.5rem var(--color-primary);
}

.Profile_Page .Profile_User .Profile_Name p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  width: 100%;
  transition: 0.25s;
}

.Profile_Socials {
  width: 100%;
  border-top: 1px solid var(--color-text2);
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  transition: 0.25s;
}

.Profile_Socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-text2);
  border-radius: 0.5rem;
  color: var(--color-text2);
  background: var(--color-background);
  text-decoration: none;
  transition: 0.25s;
}

.Profile_Socials a:hover {
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0.5rem var(--color-primary);
}

.Profile_Description {
  width: 100%;
  border-top: 1px solid var(--color-text2);
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.25s;
}

.Profile_Description p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  transition: 0.25s;
}

.Profile_Buttons {
  width: 100%;
  border-top: 1px solid var(--color-text2);
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  transition: 0.25s;
}

.Profile_Buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text2);
  border-radius: 0.5rem;
  background: var(--color-background);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.25s;
}

.Profile_Buttons a:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-primary-text);
  box-shadow: 0 0 0.5rem var(--color-primary);
}

@media screen and (max-width: 768px) {
  .Profile_Page {
    padding: 1rem;
  }

  .Profile_Page .Profile_User img {
    width: 6rem;
    height: 6rem;
  }

  .Profile_Page .Profile_User .Profile_Name h1 {
    font-size: 1.25rem;
  }

  .Profile_Page .Profile_User .Profile_Name p {
    font-size: 0.8rem;
  }

  .Profile_Socials {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .Profile_Socials a {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }

  .Profile_Description p {
    font-size: 0.8rem;
  }

  .Profile_Buttons {
    gap: 0.25rem;
  }

  .Profile_Buttons a {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  .Profile_Page .Profile_User {
    flex-direction: column;
    gap: 1rem;
  }

  .Profile_Page .Profile_User .Profile_Name .Profile_Info p {
    justify-content: center;
    gap: 0.25rem;
  }
}
